@charset "utf-8";
/* CSS Document */


/* CSS Reset  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
 header, hgroup, menu, nav, section {
	display: block;
}
footer{
	position: fixed;
bottom: 0px;}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
table.table1 {border-collapse: collapse;
	border-spacing: 0;
	background-image:url(../img/base-color_02.png);
	border-color:3a3533;
border:none;
border-collapse: collapse;}

table.table1 td { border-left: 1px solid #262321;
border-right: 1px solid #262321;}
table.table1 td:active{
	background-color:#d21e1d;}

table.table1 td:last-child {
border-left: 1px solid #262321;
border-right: 1px solid #262321;
}

/* Custom CSS */

.imgBox  { 

    background-image: url(../img/about_us_01_03.png);
	width:95%;
	height:190px;
	margin-left:3%;
}
.imgBox1  { 

    background-image: url(../img/about_us_01_03.png);
	width:95.5%;
	height:225px;
	margin-left:3%;
}
.imgBox2  { 

    background-image: url(../img/about_us_01_03.png);
	width:95.5%;
	height:245px;
	margin-left:3%;
}

.imgBox4{
	
	   background-image: url(../img/about_us_03.png);
	   background-size:100%; 100%;
	width:95.5%;
	height:108px;
	margin-left:3%
	
	 }
.tittleimg{background-image: url(../img/about_us_03.png);

	  
	  background-size:100%; 100%;
	width:100%;
	height:60px;
	margin-left:3%

	}
.nogap{
	margin: 1.0px;
	padding: 0;
	font-size: 100%;
	opacity:0.4;
	
	
	}

body{
	margin:0px;
	padding:0px;
	width:320px;
	height:100%;
	background-image:url(../img/bg.png);
	background-size:320px auto;
	background-repeat:no-repeat;	
}

#top-bar{
	background-image:url(../img/bld_ml_register_01.png);
	background-repeat:repeat-x;
	border-bottom:3px solid #a93729;
	height:45px;
	text-align:center;
	
}




#title{
	font-size:18px;
	color:#FFF;
	font-family:headerTitle;
	position:relative;
	top:15px;
}

.heading{
	font-size:24px;
	font-family:titleFont;
	text-align:center;
	text-shadow:1.5px 1.5px #fffbf0;
	padding-top:7px;
	color:#771B11;
}
.heading2{
	font-size:20px;
	font-family:titleFont;
	text-align:center;
	text-shadow:1.5px 1.5px #fffbf0;
	padding-top:7px;
	color:#771B11;
	text-emphasis:after; 
	text-shadow:#FFF;
	
}
.heading3{
	font-size:16px;
	font-family:titleFont;
	margin-left:25px;
	text-shadow:1.5px 1.5px #fffbf0;
	padding-top:7px;
	color:#771B11;
	text-emphasis:after; 
	text-shadow:#FFF;
	}
.heading4{
	font-size:13px;
	font-family:titleFont;
	margin-left:25px;
	text-shadow:1.5px 1.5px #fffbf0;
	text-emphasis:after; 
	text-shadow:#FFF;
	}


.food{
	background:url(../img/food.png);
	background-repeat:no-repeat;
	width:87px;
	height:85px;
	float:left;
	border:5px #fff solid;
	border-radius:50px;
	margin:10px 0px 0px 25px;
}



.title-desc{
	font-size:12px;
	font-family:titleDescFont;
	float:left;
	padding-top:35px;
	text-shadow:1.5px 1.5px #fffbf0;
	padding-left:25px;
		
}
.recipediv{
	opacity:0.7;
	
	width:90%; height:90px; solid #FFF; stroke:black;stroke-width:5;
	fill:#FFF;
	background:#FFF;
	border-radius:5px;
	
	 
	}
.spacing{ padding-top:6px}
.tabletitle{
	
	vertical-align:central;
	font:"gotham medium";
	font-size:14px ;
	 color:#da2c1a;
	margin-left:10%;
	margin-right:10%;
	padding-bottom:5px;
text-shadow:1.5px 1.5px #fffbf0;
	text-emphasis:after; 
	text-shadow:#000;
	
	}
.tablebody{
	
	vertical-align:central;
	font:"gotham medium";
	font-size:10px ;
	color:#6d6564;
	margin-left:10%;
	margin-right:10%;
	

	
	}

.paddingbutton{
	padding-bottom:12px;}

	

	
	
.subheading{
	vertical-align:central;
	font:"gotham book";
	font-size:16px ;
	 color:#532521;
	margin-left:10%;
	margin-right:10%;
	padding-bottom:5px;

	text-emphasis:after; 
	text-shadow:#FFF;
	
	}
	
.forgotpass{
	vertical-align:central;
	font-family:titleFont;
	font:"Gotham Book";
	font-size:10px ;
	 color:#1a1319;
	 text-shadow:#999;
	
	}
	 
	 
	 .forgotpass2{
	padding-bottom:10px;
	font-family:titleFont;
font:"Gotham Book";
	font-size:8px ;
	 color:#1a1319;
	 padding-top:50px;}
	 
	  .forgotpass3{
	font:"Gotham Book";
	font-family:titleFont;
	font-size:10.4px ;
	 color:#3b2724;
	 padding-top:17px;
	 margin-left:10px;
	 margin-right:10px;
	 text-shadow:#999;}
	  
.joinus{font-size:32px ; 
text-emphasis:after; 
color:#771b11;
text-shadow:#FFF;
	}
.navtext{
		color:#76626f; 
		font-size:10px;}
.title-desc-login{
	font-size:12px;
	font-family:titleDescFont;

	float:left;
	padding-top:15px;
	text-shadow:1.5px 1.5px #fffbf0;
	padding-left:5px;
		
}

.register{
	text-align:center;	
}

.userInput{
	width:270px;
	height:28px;
	border: 1.7px solid #dac2a7;
	border-radius:4px;
	margin-bottom:5px;
}



::-webkit-input-placeholder,input[type='text'] {
   color: #9C9594;
   font-family:titleDescFont;
   font-size:14px;
   padding-left:15px;
}
input[type='text2'] {
   color: #9C9594;
   font-family:titleDescFont;
   font-size:14px;
   padding-left:10px;
   width:250px;

border: 1px solid #B9BDC1; 
color: #797979; 
-moz-box-shadow: 0 2px 4px #bbb inset; 
-webkit-box-shadow: 0 2px 4px #BBB inset; 
box-shadow: 0 2px 4px #BBB inset; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
border-radius: 3px; 

  
}

:-moz-placeholder, { /* Firefox 18- */
   color: #9C9594;
   font-family:titleDescFont;
   font-size:14px;
   padding-left:15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #9C9594;
   font-family:titleDescFont;
   font-size:14px;
   padding-left:15px;  
}

:-ms-input-placeholder {  
  	color: #9C9594;
   font-family:titleDescFont;
   font-size:14px;
   padding-left:15px; 
}

#termsDesc{
	font-size:11px;
	font-weight:bold;
	font-family:titleDescFont;
	
}
#termsCheckbox{
	width:9px;
	height:9px;
}

#registerButton{
	padding-top:5px;	
}

.alreadyRegistered{
	font-family:titleDescFont;
	font-size:8px;	
}
.clickhere{
	color:#D21E1D;
}
/* Custom Font's Defined */
.textsss
{

	font:"Gotham Book";
font-family:titleFont;
font-size:9px;
padding-left:5px;
margin-top:auto
color:#c7bcb0;
text-shadow:#999;


}
@font-face
{
font-family: titleFont;
src: url(../fonts/ufonts.com_gotham_medium.ttf);
}
@font-face
{
font-family: titleDescFont;
src: url(../fonts/ufonts.com_gotham_book.ttf);
}

@font-face
{
font-family: headerTitle;
src: url(../fonts/Pacifico.ttf);
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

  input[type=checkbox] {
    display:none;
  }
 
  input[type=checkbox] + label
   {
       background: url(../img/specific_quest_06.png);
	background-size:12px 12px;
       height: 12px;
       width: 12px;
       display:inline-block;
       padding: 0 0 0 0px;
	   
	
   }
   
   input[type=checkbox]:checked + label
   
    {
		 background-image:url(../img/specific_quest_03.png);
		 
     	background-size:12px 12px;
       height: 12px;
       width: 12px;
        display:inline-block;
        padding: 0 0 0 0px;

    }





.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;

  padding-left:5px;
 
}
.tab label {
  background: #eee; 
  padding: 5px; 
  border: 1px solid #ccc; 
  margin-left: -2px; 
  position: relative;
  left: 3%;
  border-radius:7px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom: 1px solid white;
  padding-left:26px;
  padding-right:26px;
  border-color:#bba88f;
  background-color:#bba88f;
  color:#FFF;
  
 
  
   
}
.tab [type=radio] {
  display: none; 
 
  
}
.content {
  position: absolute;
  top: 23px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius:5px;
  border-color:#bba88f;
}

[type=radio]:checked ~ label {
  background: #FFF;
  color:#771b11;
  border-bottom: 2px solid white;
  z-index: 2;
  
   
}

[type=radio]:checked ~ label ~ .content {

  z-index: 1;
  
}